<template name="home">
  <div class="container">

    <div class="row center-align">

      <h3 class='total-statistic-value'>{{total}}</h3>
      <p class='statistic-name'>Total Number of Messages Sent since
        <br>
        <h4 style='color: #000'>{{firstDate}}</h4>
      </p>

      {{#each stats}}
        {{> statCount }}
      {{/each}}
    </div>

    <div class="divider"></div>

    <div class="chart">{{> highchartsHelper chartId="messageCount" chartObject=messageCount}}</div>
    <div class="chart">{{> highchartsHelper chartId="imageCount" chartObject=imageCount}}</div>
    <div class="chart">{{> highchartsHelper chartId="hourCount" chartObject=hourCount}}</div>
    <div class="chart">{{> highchartsHelper chartId="dayCount" chartObject=dayCount}}</div>
    <div class="chart">{{> highchartsHelper chartId="monthCount" chartObject=monthCount}}</div>
  </div>

</template>

<template name="statCount">
  <div class="col s6 m4 l2">
    <h3 class='statistic-value'>{{count}}</h3>
    <span class='statistic-name'>{{user}}</span>
  </div>
</template>
